* {
    margin: 0;
    padding: 0;
}
body {
    width:100%;
    background-color: #DFE6FC;
    font-family: 'Roboto', sans-serif;

}
.wrapper {
    width:70%;
    margin: 0 auto;
    border: 1px solid black;
    background-color:#F3E6D3;

}
.headertop, .headeradd {
    width: 100%;
    height: 150px;
    background-color:#F0960F;
}
.login, .footer {
    width: 100%;
    height: 30px;
    background-color:#0D1630;
    color:#F0960F;
}
.aside, .main {
    background-color:#F3E6D3;
}
.aside {
    width:35%;
    float:left;
    padding: 20px;
}
.main {
    width: 65%;
    float:right;
    min-height: 400px;
}
.main p {
    font-weight:700;
    font-size:20px;
}
.footer {
    clear:both;
}


.slika img {
    width: 300px;
    height: 200px;
}

.form{
    margin: 20px auto;
    width: 70%;
    padding: 10px;
}
.form label, .form input {
    padding-left: 10px;
    margin: 5px;
}